body{

margin:0;
font-family: 'Georgia', serif;
background:#0d0d0d;
color:white;
text-align:center;

}

/* OPENING */

#opening{

height:100vh;

background:url(images/bg.jpg);

background-size:cover;

background-position:center;

display:flex;

justify-content:center;

align-items:center;

position:relative;

}

.overlay{

position:absolute;

width:100%;
height:100%;

background:rgba(0,0,0,0.6);

}

.opening-content{

position:relative;

z-index:2;

}

.envelope img{

width:120px;

animation:float 3s infinite;

}

@keyframes float{

0%{transform:translateY(0)}
50%{transform:translateY(-10px)}
100%{transform:translateY(0)}

}

.title{

font-family:'Cinzel', serif;

color:#d4af37;

font-size:35px;

letter-spacing:2px;

text-transform:uppercase;

text-shadow:0 3px 10px rgba(0,0,0,0.5);

}

/* CONTENT */

#content{

display:none;
padding:40px 20px;

background:url(images/bg.jpg);
background-size:cover;
background-position:center;
background-attachment:fixed;

position:relative;

}

#content::before{

content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:100%;

/* overlay lebih terang */

background:rgba(0,0,0,0.80);

z-index:0;

}

#content *{

position:relative;
z-index:2;

}
/* FLIP CLOCK */

.flip-clock{

display:flex;
justify-content:center;
gap:15px;
flex-wrap:wrap;
margin-top:30px;

}

.flip-unit{

text-align:center;

}

.flip-card{

background:#000;
color:#d4af37;

font-size:32px;
font-weight:bold;

padding:15px 20px;

border-radius:8px;

min-width:60px;

box-shadow:0 5px 15px rgba(0,0,0,0.5);

transition:transform 0.6s;

}

.flip-card.flip{

transform:rotateX(360deg);

}

.flip-unit p{

margin-top:5px;
font-size:12px;

}
}
/* CARD */

.card{

background:#1a1a1a;

padding:25px;

border-radius:12px;

max-width:420px;

margin:auto;

}

/* MAP */

iframe{

width:80%;

height:300px;

border:none;

border-radius:10px;

}

/* GALERI */

.gallery{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:5px;

margin-top:20px;

}

.gallery img{

width:100%;

aspect-ratio:1/1;

object-fit:cover;

cursor:pointer;

}

/* MODAL */

#modal{

display:none;

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background:black;

justify-content:center;

align-items:center;

}

#modal img{

max-width:90%;
max-height:90%;

}

/* BUTTON */

button{

padding:12px 30px;

border:none;

border-radius:30px;

background:linear-gradient(45deg,#d4af37,#f5e9a3);

cursor:pointer;

}

#musicBtn{

position:fixed;

top:20px;

right:20px;

background:black;

color:white;


}










