body{

margin:0;
font-family: 'Georgia', serif;
text-align:center;
color:white;

}

#opening{

height:100vh;

background-image:url(images/bg.jpg);

background-size:cover;
background-position:center;

display:flex;
justify-content:center;
align-items:center;

}

.overlay{

background:rgba(0,0,0,0.5);

padding:40px;
border-radius:10px;

}

button{

padding:12px 25px;

border:none;

background:#d4af37;

color:white;

font-size:16px;

border-radius:6px;

cursor:pointer;

}

#content{

display:none;

background:#111;

padding:40px 20px;

}

.card{

background:#222;

padding:20px;

border-radius:10px;

margin:20px auto;

max-width:400px;

}

iframe{

width:100%;
height:300px;

border:none;

margin-top:20px;

border-radius:10px;

}

/* GALERI */

.gallery{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:5px;

margin-top:20px;

}

.gallery img{

width:100%;

aspect-ratio:1/1;

object-fit:cover;

}

/* FORM */

input,select{

padding:10px;

margin:5px;

border-radius:5px;

border:none;

}

#musicBtn{

position:fixed;

top:20px;

right:20px;

background:#000;

}
