body{
margin:0;
font-family:'Poppins',sans-serif;
background:#0d0d0d;
color:white;
text-align:center;
}

h1,h2,h3{
font-family:'Amiri',serif;
}

#opening,
#content{
background:url("images/bg.jpg");
background-size:cover;
background-position:center;
position:relative;
}

#opening{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.overlay{
position:absolute;
width:100%;
height:100%;
background:rgba(0,0,0,0.6);
}

.opening-content{
z-index:2;
}

.envelope img{
width:120px;
cursor:pointer;
animation:float 3s infinite;
}

@keyframes float{
0%{transform:translateY(0)}
50%{transform:translateY(-10px)}
100%{transform:translateY(0)}
}

#content{
display:none;
padding:60px 20px;
}

.title{
color:#d4af37;
font-size:43px;
}

.flip-clock{
display:flex;
justify-content:center;
gap:8px;
margin:30px 0;
flex-wrap:nowrap;
}

.flip-box{
text-align:center;
}

.flip-card{
background:#fff;
color:#000;
font-size:22px;
font-weight:bold;
padding:10px 12px;
border-radius:8px;
min-width:45px;
box-shadow:0 4px 10px rgba(0,0,0,0.35);
transition:transform 0.4s;
}

.flip{
transform:rotateX(180deg);
}

.flip-box span{
display:block;
margin-top:4px;
font-size:11px;
opacity:0.8;
}

@media(max-width:600px){

.flip-clock{
gap:6px;
}

.flip-card{
font-size:18px;
padding:8px 10px;
min-width:38px;
}

.flip-box span{
font-size:10px;
}

}

.card{
background:rgba(0,0,0,0.7);
padding:20px;
border-radius:15px;
max-width:400px;
margin:10px auto;
}

.maps-button a{
display:inline-block;
padding:10px 25px;
background:#c8a97e;
color:white;
text-decoration:none;
border-radius:30px;
}

.gallery-slider{
width:260px;
overflow:hidden;
margin:30px auto;
border-radius:10px;
}

.slides{
display:flex;
animation:slide 12s infinite;
}

.slides img{
width:260px;
height:180px;
object-fit:cover;
}

@keyframes slide{

0%{transform:translateX(0)}
25%{transform:translateX(-260px)}
50%{transform:translateX(-520px)}
75%{transform:translateX(-780px)}
100%{transform:translateX(0)}

}

form{
max-width:350px;
margin:30px auto;
display:flex;
flex-direction:column;
gap:10px;
}

input,select{
padding:12px;
border:none;
border-radius:8px;
}

button{
padding:12px;
border:none;
border-radius:30px;
background:#d4af37;
color:white;
cursor:pointer;
}

#formMessage{
margin-top:10px;
color:#d4af37;
}

@media(max-width:600px){

.title{
font-size:28px;
}

}
